@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  body {
    margin: 0;
    padding: 0;
  }
  header {
    width: 100%;
    background-color: #e6e6ff;
  }
  .headerLinkLeft {
    text-decoration: none;
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 1.2rem;
  }
  
  .headerLinkRight {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 15px;
    font-size: 1.2rem;
  }
  .headerLogo {
    width: 55%;
    padding: 15px;
  }
  
  a:hover {
    text-decoration: underline;
  }

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

@font-face {
  font-family: "JediFont";
  src: url("assets/Star-Jedi Font/Starjedi Regular.ttf");
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

  .topnav a.icon {
    display: none;
  }

  .signUp {
    font-weight: bold;
  }

  #myLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .logoLink {
    text-align: center;
  }
  footer {
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
  }

/* Home Page */
.banner_wrapper {
  background-image: url('images/home_background.jpg');
}
.next_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: url('images/next3.png') center center no-repeat;
  background-size: 60%;
}
.prev_arrow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: url('images/next3.png') center center no-repeat;
  background-size: 60%;
  transform: rotate(180deg);
}
.banner {
  position: relative;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}
.home_input {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.home_input + .home_input {
  right: auto;
  left: 0;

}
.home_label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.banner_box {
  margin: 0 auto;
  padding: 30px;
  width: 80%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  
}
.banner_box:first-of-type {
  position: relative;
  opacity: 1;
  z-index: 1;
}
.first_p {
  color: white;
  z-index: 10;
  text-align: center;
  font-family: "JediFont", Arial, Helvetica, sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}
.explanation {
  font-family: 'Sawarabi Gothic', sans-serif;
  padding: 20px;
}
.first_header {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: "JediFont", Arial, Helvetica, sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}
.second_header {
  color: white;
  z-index: 10;
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-family: "JediFont", Arial, Helvetica, sans-serif;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #FFE81F, 0 0 20px #FFE81F, 0 0 30px #FFE81F, 0 0 40px #FFE81F, 0 0 50px #FFE81F, 0 0 60px #FFE81F, 0 0 70px #FFE81F;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000;
  }
}
.second_image {
  position: absolute;
  width: 40%;
  top: 25%;
  left: 30%;
  background-color: #555;
  box-shadow: 0 0 5px 10px #555;
  display: flex;
}
.third_link {
  position: absolute;
  top: 88%;
  left: 45%;
  background-color: #e6e6ff;
  color: #595959;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: bold;
}

.home_label:first-of-type,
.home_input:first-of-type {
  z-index: 3;
}
.home_label:checked {
  z-index: 1;
}
.home_input:checked + .home_input + .home_label + .banner_box + .home_input {
  z-index: 4;
}
.home_input:checked + .home_input + .home_label + .banner_box + .home_input + .home_input + .home_label {
  z-index: 4;
}
.home_input:checked + .home_input + .home_label + .banner_box {
  opacity: 0;
  z-index: 0;
}
.home_input:checked + .home_input + .home_label + .banner_box + .home_input + .home_input + .home_label + .banner_box {
  z-index: 2;
  opacity: 1;
}

  /* Register page start */
  .registerContent {
    margin: 1rem auto;
    background-color: #595959;
    max-width: 400px;
    padding: 1rem;
    border-radius: 10px;
    color: white;
  }

  .registerContent p {
    font-size: 1.5rem;
    font-family: "JediFont", Arial, Helvetica, sans-serif;
  }

  .registerContent form {
    border: 1px solid white;
    border-radius: 10px;
  }

  .registerContent form input, 
  .registerContent form label{
    display: block;
  }

  .registerContent form label {
    margin: 0.5rem;
  }
  .registerContent form input {
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    max-width: 175px;
  }



  .submitButton:hover {
    background-color: white;
    color: gray;
    box-shadow: 2px 2px 5px gray;
  }

  /* Register page end */

/*Characters Gallery*/
.characters {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.characters section {
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  border-radius: 15px;
  font-family: "JediFont";
  font-size: 12px;
}

.characters section img {
  border-radius: 15px 15px 0 0;
}



/*Character Page */
.characterInfo {
  width: 400px;
  margin: 1em auto;
  padding: 1em;
  font-family: "JediFont";
  border-style: solid;
  border-color: yellow;
  padding: 1em;
}
.characterInfo ul {
  padding-left: 0;
}

.characterInfo ul li {
  list-style: none;
}

.characterInfo img {
  padding-left: 50px;
  padding-right: 50px;
}

.characterInfo h1 {
  text-align: center;
}


/*Template*/
.hero {
  text-align: center;
}

.template {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Roboto";
}


.template1 {
  
  text-align: start;
  font-family: sans-serif;
  
  
}

.templateForm {
  display: grid;
  grid-template-columns: 1fr;
}

.castHeader {
  padding: 1em;
  margin: 1em auto;
  border-style: solid;
  border-color: yellow;
  width: fit-content;
  font-family: "JediFont";
}

.cast {
  
  display: flex;
  flex-wrap: wrap;
  font-family: "JediFont";
}

.cast section {
  margin-left: 10px;
  margin-right: 10px;
}

.finish {
  width: 100px;
  height: 30px;
  color: yellow;
  font-family: "JediFont";
  background-color: black;
  border-style: solid;
  border-color: yellow;
  margin: 0 auto;
}

select {
  color: yellow;
  font-family: "JediFont";
  background-color: black;
  border-style: solid;
  border-color: yellow;
}

.movieTitle {
  font-family: sans-serif;
  text-transform: uppercase;
}

.plot {
  margin: 0 auto;
  width: 60%;
}

/*User Gallery*/
.gallery {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}

.galleryHero {
  text-align: center;
  font-family: "JediFont";
}

.gallery section {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  color: black;
  width: 200px;
  border-radius: 15px;
  font-family: "JediFont";
  background-color: white;
}

/*User Moive Page*/
.movie {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
  text-transform: uppercase;
  height: 300px;
  font-size: 2vw;
  color: yellow;
  perspective: calc(100vh * 0.6);
  font-family: "Roboto";
}

.movieTitle {
  text-align: center;
}

.crawlDisplay {
  transform: rotate3d(1, 0, 0, 45deg);
  transform-origin: 50% 100%;
}

.crawlContentDis {
  animation: titlecrawl 60s linear infinite;
}

.moviePlot {
  width: 60%;
  margin: 0 auto;
  font-family: "Roboto";
}

@-webkit-keyframes titlecrawl {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes titlecrawl {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }}

@media screen and (max-width: 700px) {
  .headerLinkLeft {
    text-decoration: none;
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 15px;
    font-size: 1rem;
  }
  
  .headerLinkRight {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 15px;
    font-size: 1rem;
  }
  
  .headerLogo {
    display: none
  }

  a:hover {
    text-decoration: underline;
  }
  
  .signUp {
    font-weight: bold;
  }

  .topnav a.icon {
    display: none;
  }
  .first_header {
    font-size: 1.2em;
  }
  .second_header {
    font-size: 2em;
  }
  .third_link {
    top: 60%;
    left: 40%;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-family: 'Sawarabi Gothic', sans-serif;
}
  .explanation {
    padding: 20px;
    color: white;
  }
  .next_arrow, .prev_arrow {
    width: 3em;
  }
  .third_link {
    position: absolute;
    top: 50%;
    left: 35%;
    background-color: #e6e6ff;
    color: #595959;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
  }
/*Template Page*/

/*Character Gallery*/

/*Character Info*/
.characterInfo {
  width: 300px;
  font-size: 10px;
  align-items: center;
}

.characterInfo img {
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.characterInfo h1 {
  font-size: 10px;
}


/*Template Page*/
.hero h1 {
  font-size: 15px;
}

 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  .mobile-container {
    max-width: 480px;
    margin: auto;
    border-radius: 10px;
  }
  .topnav .logoLink {
    display: none;
  }
  .topnav {
    overflow: hidden;
    background-color: #e6e6ff;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #595959;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  
  .topnav a.icon {
    display: block;
    right: 0;
    top: 0;
  }

  .headerLogo {
    width: 5rem;
  }
}
}

/* Posters Page! */
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  display: none; /* Hide all elements by default */
  height: 100%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  color: #595959;
  padding: 10px;
  font-family: 'Sawarabi Gothic', sans-serif;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  text-align: center;
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.dropbtn {
  background-color: #e6e6ff;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #595959;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #595959;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


