@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
  body {
    margin: 0;
    padding: 0;
  }
  header {
    width: 100%;
    background-color: #e6e6ff;
  }
  .headerLinkLeft {
    text-decoration: none;
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 1.2rem;
  }
  
  .headerLinkRight {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 15px;
    font-size: 1.2rem;
  }
  .headerLogo {
    width: 55%;
    padding: 15px;
  }
  
  a:hover {
    text-decoration: underline;
  }

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

@font-face {
  font-family: "JediFont";
  src: url("assets/Star-Jedi Font/Starjedi Regular.ttf");
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

  .topnav a.icon {
    display: none;
  }

  .signUp {
    font-weight: bold;
  }

  #myLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .logoLink {
    text-align: center;
  }
  footer {
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
  }
@media screen and (max-width: 700px) {
  .headerLinkLeft {
    text-decoration: none;
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 15px;
    font-size: 1rem;
  }
  
  .headerLinkRight {
    margin-top: 0;
    padding-top: 0;
    text-decoration: none;
    color: #595959;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 15px;
    font-size: 1rem;
  }
  
  .headerLogo {
    display: none
  }

  a:hover {
    text-decoration: underline;
  }
  
  .signUp {
    font-weight: bold;
  }

  .topnav a.icon {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-family: 'Sawarabi Gothic', sans-serif;
}
/*Characters Gallery*/
.characters {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.characters section {
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  border-radius: 15px;
  font-family: "JediFont";
  font-size: 12px;
}

.characters section img {
  border-radius: 15px 15px 0 0;
}

/*Character Page */
.characterInfo {
  width: 400px;
  margin: 1em auto;
  padding: 1em;
  font-family: "JediFont";
  border-style: solid;
  border-color: yellow;
  padding: 1em;
}
.characterInfo ul {
  padding-left: 0;
}

.characterInfo ul li {
  list-style: none;
}

.characterInfo img {
  padding-left: 50px;
  padding-right: 50px;
}

.characterInfo h1 {
  text-align: center;
}

/*Template Page*/

.hero {
  text-align: center;
}


 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  .mobile-container {
    max-width: 480px;
    margin: auto;
    border-radius: 10px;
  }
  .topnav .logoLink {
    display: none;
  }
  .topnav {
    overflow: hidden;
    background-color: #e6e6ff;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #595959;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  
  .topnav a.icon {
    display: block;
    right: 0;
    top: 0;
  }

  .headerLogo {
    width: 5rem;
  }
  
}
}

/* Posters Page! */
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  display: none; /* Hide all elements by default */
  height: 100%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  color: #595959;
  padding: 10px;
  font-family: 'Sawarabi Gothic', sans-serif;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  text-align: center;
  background-color: white;
  cursor: pointer;
  width: 100%;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.dropbtn {
  background-color: #e6e6ff;
  font-family: 'Sawarabi Gothic', sans-serif;
  color: #595959;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #595959;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}