@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  background-color: #e6e6ff;
}

.headerLinkLeft {
  float:left;
}

.headerLinkRight {
  float: right;
  margin-top: 0;
  padding-top: 0;
}

.headerLogo {
  width: 15%;
}

.leftHeader a {
  text-decoration: none;
  color: #595959;
  font-family: 'Sawarabi Gothic', sans-serif;
  padding: 35px;
  font-size: 1.2rem;
}

.leftHeader a:hover {
  text-decoration: underline;
}

.middleHeader {
  text-align: center;
}

.signUp {
  font-weight: bold;
}

footer {
  color: #595959;
  font-family: 'Sawarabi Gothic', sans-serif;
}